@import "variable.scss";
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}
.form-control {
  color: $primary;
  width: inherit;
  &__input {
    background: $primary;
    padding: 15px 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 4px;
    color: $secondary-light;
    width: 100%;
    &:focus {
      outline: none;
      box-shadow: 0 0 10px black;
      transition: all 0.2s ease-in-out;
    }
  }
  &__container {
    position: relative;
  }
  &__errors {
    margin-top: 4px;
    position: absolute;
    color: $error;
    font-weight: 400;
    font-size: $fs-small;
    line-height: 10px;
    /* identical to box height */
    letter-spacing: -0.02em;
  }
  &__label {
    font-weight: 400;
    font-size: $fs-preMedium;
    line-height: 13px;
    letter-spacing: -0.02em;
    color: $secondary;
    margin-bottom: 4px;
  }
}

.mt-4 {
  margin-top: 16px;
}
.mt-6 {
  margin-top: 24px;
}
.mr-4 {
  margin-right: 16px;
}
