//font-size
$fs-maxLarge: 28px;
$fs-large: 24px;
$fs-preLarge: 20px;
$fs-maxMedium: 16px;
$fs-medium: 12px;
$fs-preMedium: 10px;
$fs-small: 8px;

// colors
$primary: #FFFEFB;
$secondary: #49485E;
$secondary-light: #3F3F3F;
$primary-light: #B4B4B4;
$bg-color: #E5E5E5;
$error: #FF8484;
$success: #7BAE73;


